* {
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
  width: 100%;
  margin: 0;
	padding: 0;
	border: 0;
}

.front {
  text-align: center;
  background-color: white;
  margin: 30%;
  border: 3px transparent;
  border-radius: 4%;
}

#topback {
  height: 300px;
  background-color: dodgerblue;
  background-image: url(./1631895769_6-papik-pro-p-malenkie-risunki-peizazhi-6.jpeg);
  background-position: center;
  background-size: cover;
  border: 3px transparent;
  border-radius: 4% 4% 0% 0%;
}

#avatar {
  border-radius: 50%;
  margin: -10%;
  border: 3px solid black;
  object-fit: cover;
  height: 50%;
  object-position: top;
  width: 50%;
  min-height: 10px;
  min-width: 10px;
  max-width: 500px;
  max-width: 500px;
}

h2 {
  padding-top: 9%;
  font-size: 3em;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  text-transform: lowercase;
}

#redirect1 {
  text-decoration: none;
  color: rgb(181, 214, 243);
}

p {
  font-size: 2em;
}

.text {
  overflow: hidden;
}
