* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: sans-serif;
}

nav {
  text-align: center;
}

.nav-list{
  position: relative;
}

article {
  margin-top: 3%;
}

a {
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 0px;
  display: inline-block;
  padding: 20px 60px;
}

ul li {
  display: inline-block;
  background-color: #47986d;
  border: 1px solid #3c805b;
  color: rgb(243, 231, 231);
  margin: -4px;
}

li:hover {
  background-color: #3c805b;
}

.sub-nav-list {
  position: absolute;
  display: none;
  top: 103%;
  left: 0%;
}

.nav-list:hover .sub-nav-list {
  display: block;
  width: 100%;
}

.sub-nav-list-block{
  width: 101%;
  text-align: center;
}

#woman-list:hover .sub-woman-list {
  display: block;
}
/* Меню идущее после наведения на блок woman */

.sub-nav-list-block:last-of-type {
  position: relative;
}
/* Родитель для от которого идет позиция для сабвуманлиста */

.sub-woman-list {
  display: none;
  position: absolute;
  left: 101.5%;
  top: 33%;
}
